{% extends "relays/base.html" %}
{% load i18n %}
{% load humanize %}
{% block details %}
    <div class="panel panel-success col-lg-12 container-fluid">
        <div class="panel-heading">
            <span class="panel-title">{% translate "Server" %}: {{ server.name }} </span>
        </div>
        <div class="panel-body">
            {% include "relays/server_messages.html" %}
        </div>
    </div>
{% endblock details %}
{% block extra_javascript %}
    {% include "bundles/datatables-js.html" %}
    {% include "bundles/moment-js.html" with locale=True %}
{% endblock extra_javascript %}

{% block extra_css %}
    {% include "bundles/datatables-css.html" %}
{% endblock extra_css %}
{% block extra_script %}
    $(document).ready(function(){
        $('#table-server-messages').DataTable({
            "ajax": {
                "url": "{% url 'relays:server_messages' %}",
                "dataSrc": "server_messages",
                "data": {
                    "server_id": "{{ server.server }}"
                }
            },
            columns: [
            {
                data: "timestamp"
            },
            {
                data: "channel__name"
            },
            {
                data: "author_nick"
            },
            {
                data: 'content',
            },

            ],
            "order": [[ 2, "asc" ]],
            "processing": true,
            "stateSave": true,
            "stateDuration": 0,
        } );
    });
{% endblock extra_script %}
